[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/ctrlp"]
	path = vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/plugins/start/bbye"]
	path = vim/pack/plugins/start/bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/plugins/start/tslime.vim"]
	path = vim/pack/plugins/start/tslime.vim
	url = https://github.com/jgdavey/tslime.vim
[submodule "vim/pack/plugins/start/vim-rspec"]
	path = vim/pack/plugins/start/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule "vim/pack/plugins/start/traces"]
	path = vim/pack/plugins/start/traces
	url = https://github.com/markonm/traces.vim.git
[submodule "vim/pack/plugins/start/lightline-ale"]
	path = vim/pack/plugins/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
[submodule "vim/pack/plugins/start/vim-mucomplete"]
	path = vim/pack/plugins/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
